<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
    <link rel="stylesheet" href="styles/restaurants.css" />
  </head>
  <body>
    <%- include('includes/header') %>
    <%- include('includes/side-drawer') %>
    <main>
      <h1>Recommended restaurants</h1>
      <% if (numberOfRestaurants === 0) {%>
        <p>레스토랑 목록이 없습니다.</p>
      <% } else { %>
        <p>Find your next favorite restaurants with help of our other users!</p>
        <p>We found <%= numberOfRestaurants  %> restaurants</p>
        <ul id="restaurants-list">
          <% for(const restaurant of restaurants){%>
              <!-- restaurant : restaurant 일 때, 첫번째 키값은 includes 에서 사용되는 키 이름, 두번째 벨류값은 사용되는 값을 뜻함. -->
              <%- include('includes/restaurants/restaurant-item',{restaurant : restaurant })%>
            <% } %>
        </ul>
      <% } %>
    </main>
  </body>
</html>